## data  ingetion

In [1]:
import  pandas as  pd
import numpy as  np
import seaborn as  sns
import  matplotlib.pyplot as  plt

In [2]:
df  =  pd.read_csv(r"C:\Users\admin\Downloads\50_Startups.csv")

### Basic checks

In [3]:
df.head()   #  top  5 rows

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [4]:
df.columns  #  checking all columns name

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [5]:
df.info()   #  checking info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
df.isnull().sum() #  finding count  of  missing value  for each column

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64