#### Insurance  liner dataset

## Data reading

In [1]:
import pandas  as  pd
import  numpy as  np
import matplotlib.pyplot as plt
import seaborn as  sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
path  =  r"C:\Users\admin\Downloads\insuranceLiner.xlsx"

In [4]:
df  =  pd.read_excel(path)

In [5]:
##  basic  checks

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
# check  duplicates
df.duplicated().sum()

np.int64(1)

In [11]:
# drop duplicate
df.drop_duplicates(keep = 'first' ,
                     inplace  =  True  , 
                     ignore_index=True)

In [12]:
df.shape

(1337, 7)

In [13]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [15]:
##  seperate  x and y
x  =  df.drop('charges' , axis  = 1 )
y  =  df['charges']

#### seperation of  cat and  num data

In [16]:
cat  =  x.columns[x.dtypes == 'object']
num  =  x.columns[x.dtypes != 'object']

In [17]:
print(cat)
print()
print(num)

Index(['sex', 'smoker', 'region'], dtype='object')

Index(['age', 'bmi', 'children'], dtype='object')

### create pipeline

In [18]:
from  sklearn.pipeline  import Pipeline
from  sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose  import ColumnTransformer

In [20]:
num_pipeline =  Pipeline(steps  =  [('imputer' , SimpleImputer(strategy  = 'mean' )),
                                     ('scaler' ,  StandardScaler())])

cat_pipeline  = Pipeline(steps  =  [('imputer', SimpleImputer(strategy='most_frequent'))  ,  ('encoder' , OneHotEncoder(handle_unknown='ignore' ))])